.main-bg-2 {
	display: flex;
	margin: 100px 50px;
	width: 100%;
	height: 100vh;
}

.main-bg-2-img {
	background-image: url(../images/bg2.png);
	flex-grow: 1;
	float: left;
	width: 50%;
	margin-right: 30px;
	display: flex;

	justify-content: center;
	align-items: center;
}

.main-bg-2-img-text {
	font-family: sans-serif;
	width: 25%;
	height: 25%;
	padding: 10px 8px;
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-bg-2-img-text h1{
	font-size: 5em;
	margin-bottom: 3px;
}

.main-bg-2-img-text p {
	color: #808080;
}

.main-bg-2-info {
	
	flex-grow: 1;
	width: 50%;
	float: left;
	margin: 50px 50px;
	font-family: Arial, sans-serif;
}

.main-bg-2-info .sub-heading {
	color: #c9c9c9;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Roboto",sans-serif;
    letter-spacing: 3px;
    margin-bottom: 22px;
}

.main-bg-2-info h1 {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 3.2em;

}

.main-bg-2-info .separater {
	display: inline-block;
	background-color: #131313;
	width: 90px;
	height: 2px;
	margin-bottom: 30px;
}

.main-bg-2-info p {
	color: #808080;
	margin-bottom: 30px;
	font-size: 17px;
}

.main-bg-2-info .about-us {
	margin-bottom: 30px;

}

.button-link {
	color: #000;
	display: inline-block;
	border: 1px solid #131313;
	padding: 15px 44px; 
	box-sizing: border-box;
	text-transform: uppercase;
	transition: .3s;
}

.button-link:hover {
	color: #FFF;
	background: #000;
}

